* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100vh;
}

#start_game_BTN {
   background-color: rgb(17, 235, 17);
   color: white;
   border: none;
   border-radius: 10px;
   padding: 15px 25px;
   font-size: 25px;
}
 
#start_game_BTN:hover {
    background-color: rgb(98, 238, 80);
    cursor: grab;
}

#container {
    display: none;
}

#gameboard_container {
    display: none;
    justify-content: center;
    gap: 20px;
}

.gameboard { 
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    border: 5px solid black;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 50px;
}

.firstPlayer, .secondPlayer {
    font-size: 25px;
    height: fit-content;
    padding: 10px 25px;
}

.firstPlayer {
    color: red;
}

.secondPlayer {
    color: blue;
}

.activePlayer {
    background-color: gold;
}


#player_name_form {
    display: none;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

@media (max-width: 798px) {
    #player_name_form {
        flex-direction: column;
        gap: 20px;
    }
}

#submit_form_BTN{
 font-size: 16px;
 background-color: aqua;
 border: none;
 padding: 10px 20px;
}

#winner-message {
    font-size: 25px;
}

#winner-message-name {
    color: rgb(27, 194, 27);
    font-size: 40px;
}

#play-again_BTN {
    display: none;
    font-size: 30px;
    background-color: chocolate;
    color: rgb(39, 36, 218);
    border: none;
    padding: 15px 25px;
}

#play-again_BTN:hover {
    cursor: grab;
}

.winningCell {
    background-color: rgb(27, 194, 27);
}

input {
    border: none;
    outline: 1px solid black;
}


input:invalid:required {
   outline-color: red;
}

input:valid:required {
    outline-color: green;
}



