body {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gameboard { 
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.cell {
    border: 1px solid black;
    font-size: 50px;
}

.firstPlayer, .secondPlayer {
    font-size: 25px;
}

.firstPlayer {
    color: red;
}

.secondPlayer {
    color: blue;
}

